
footer {
  height: 10vh;
}
.horniPanel {
  background: linear-gradient(to bottom, #ededed, #e9edf9);
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}
.menu {
  background-color: inherit !important;
  color: #425aa5;
}
.nav-item-smallMenu {
  cursor: pointer;
}
.infobox {
  background-color: #fff;
  box-shadow: 0 20px 25px 0 rgba(66, 90, 165, 0.2);
}
.blueRow {
  background-color: #425aa5;
  color: #fff;
}
.redRow {
  background-color: #E74C3C;
  color: #fff;
}
.statistika {
  border-bottom: 1px solid #ededed;
  font-size: 1.5em;
}
/*
#aktualne {
  display: block;
}
#dennisouhrn {
  display: none;
}
#mesicnisouhrn {
  display: none;
}
#rokysouhrn {
  display: none;
}
*/
